In [36]:
import pandas as pd
import pathlib as path

In [41]:
#read csv files 
file1 ="box_office_all_time.csv"
file2 ="box_office.csv"

box_office_all_time_df = pd.read_csv(file1)
box_office_all_time_df

box_office_df = pd.read_csv(file2)
box_office_df

,id,rank,title,worldwideLifetimeGross,domesticLifetimeGross,domestic,foreignLifetimeGross,foreign,year
0,tt0499549,1,Avatar,"$2,923,706,026","$785,221,649",26.9%,"$2,138,484,377",73.1%,2009
1,tt4154796,2,Avengers: Endgame,"$2,799,439,100","$858,373,000",30.7%,"$1,941,066,100",69.3%,2019
2,tt1630029,3,Avatar: The Way of Water,"$2,320,250,281","$684,075,767",29.5%,"$1,636,174,514",70.5%,2022
3,tt0120338,4,Titanic,"$2,264,743,305","$674,292,608",29.8%,"$1,590,450,697",70.2%,1997
4,tt2488496,5,Star Wars: Episode VII - The Force Awakens,"$2,071,310,218","$936,662,225",45.2%,"$1,134,647,993",54.8%,2015
...,...,...,...,...,...,...,...,...,...
195,tt5971474,196,The Little Mermaid,"$560,558,617","$296,107,607",52.8%,"$264,451,010",47.2%,2023
196,tt1216475,197,Cars 2,"$559,852,396","$191,452,396",34.2%,"$368,400,000",65.8%,2011
197,tt0360717,198,King Kong,"$556,906,378","$218,080,025",39.2%,"$338,826,353",60.8%,2005
198,tt0448694,199,Puss in Boots,"$554,987,477","$149,260,504",26.9%,"$405,726,973",73.1%,2011
199,tt4701660,200,The Mermaid,"$553,810,228","$3,232,685",0.6%,"$550,577,543",99.4%,2016

In [49]:
#combined the 2 dataframes
combined_df = pd.merge(box_office_all_time_df,box_office_df, on="id")
combined_df.head(20)

,id,rank_x,title_x,worldwideLifetimeGross_x,domesticLifetimeGross_x,domestic_x,foreignLifetimeGross_x,foreign_x,year_x,rank_y,title_y,worldwideLifetimeGross_y,domesticLifetimeGross_y,domestic_y,foreignLifetimeGross_y,foreign_y,year_y
0,tt0499549,1,Avatar,"$2,923,706,026","$785,221,649",26.9%,"$2,138,484,377",73.1%,2009,1,Avatar,"$2,923,706,026","$785,221,649",26.9%,"$2,138,484,377",73.1%,2009
1,tt4154796,2,Avengers: Endgame,"$2,799,439,100","$858,373,000",30.7%,"$1,941,066,100",69.3%,2019,2,Avengers: Endgame,"$2,799,439,100","$858,373,000",30.7%,"$1,941,066,100",69.3%,2019
2,tt1630029,3,Avatar: The Way of Water,"$2,320,250,281","$684,075,767",29.5%,"$1,636,174,514",70.5%,2022,3,Avatar: The Way of Water,"$2,320,250,281","$684,075,767",29.5%,"$1,636,174,514",70.5%,2022
3,tt0120338,4,Titanic,"$2,264,743,305","$674,292,608",29.8%,"$1,590,450,697",70.2%,1997,4,Titanic,"$2,264,743,305","$674,292,608",29.8%,"$1,590,450,697",70.2%,1997
4,tt2488496,5,Star Wars: Episode VII - The Force Awakens,"$2,071,310,218","$936,662,225",45.2%,"$1,134,647,993",54.8%,2015,5,Star Wars: Episode VII - The Force Awakens,"$2,071,310,218","$936,662,225",45.2%,"$1,134,647,993",54.8%,2015
5,tt4154756,6,Avengers: Infinity War,"$2,052,415,039","$678,815,482",33.1%,"$1,373,599,557",66.9%,2018,6,Avengers: Infinity War,"$2,052,415,039","$678,815,482",33.1%,"$1,373,599,557",66.9%,2018
6,tt10872600,7,Spider-Man: No Way Home,"$1,921,847,111","$814,115,070",42.4%,"$1,107,732,041",57.6%,2021,7,Spider-Man: No Way Home,"$1,921,847,111","$814,115,070",42.4%,"$1,107,732,041",57.6%,2021
7,tt0369610,8,Jurassic World,"$1,671,537,444","$653,406,625",39.1%,"$1,018,130,819",60.9%,2015,8,Jurassic World,"$1,671,537,444","$653,406,625",39.1%,"$1,018,130,819",60.9%,2015
8,tt6105098,9,The Lion King,"$1,663,075,401","$543,638,043",32.7%,"$1,119,437,358",67.3%,2019,9,The Lion King,"$1,663,075,401","$543,638,043",32.7%,"$1,119,437,358",67.3%,2019
9,tt0848228,10,The Avengers,"$1,520,538,536","$623,357,910",41%,"$897,180,626",59%,2012,10,The Avengers,"$1,520,538,536","$623,357,910",41%,"$897,180,626",59%,2012
10,tt2820852,11,Furious 7,"$1,515,341,399","$353,007,020",23.3%,"$1,162,334,379",76.7%,2015,11,Furious 7,"$1,515,341,399","$353,007,020",23.3%,"$1,162,334,379",76.7%,2015
11,tt1745960,12,Top Gun: Maverick,"$1,495,696,292","$718,732,821",48%,"$776,963,471",52%,2022,12,Top Gun: Maverick,"$1,495,696,292","$718,732,821",48%,"$776,963,471",52%,2022
12,tt4520988,13,Frozen II,"$1,453,683,476","$477,373,578",32.8%,"$976,309,898",67.2%,2019,13,Frozen II,"$1,453,683,476","$477,373,578",32.8%,"$976,309,898",67.2%,2019
13,tt2395427,14,Avengers: Age of Ultron,"$1,405,018,048","$459,005,868",32.7%,"$946,012,180",67.3%,2015,14,Avengers: Age of Ultron,"$1,405,018,048","$459,005,868",32.7%,"$946,012,180",67.3%,2015
14,tt1825683,15,Black Panther,"$1,349,926,083","$700,426,566",51.9%,"$649,499,517",48.1%,2018,15,Black Panther,"$1,349,926,083","$700,426,566",51.9%,"$649,499,517",48.1%,2018
15,tt6718170,16,The Super Mario Bros. Movie,"$1,346,497,584","$574,057,485",42.6%,"$772,440,099",57.4%,2023,16,The Super Mario Bros. Movie,"$1,346,497,584","$574,057,485",42.6%,"$772,440,099",57.4%,2023
16,tt1201607,17,Harry Potter and the Deathly Hallows: Part 2,"$1,342,359,942","$381,447,587",28.4%,"$960,912,355",71.6%,2011,17,Harry Potter and the Deathly Hallows: Part 2,"$1,342,359,942","$381,447,587",28.4%,"$960,912,355",71.6%,2011
17,tt2527336,18,Star Wars: Episode VIII - The Last Jedi,"$1,334,407,706","$620,181,382",46.5%,"$714,226,324",53.5%,2017,18,Star Wars: Episode VIII - The Last Jedi,"$1,334,407,706","$620,181,382",46.5%,"$714,226,324",53.5%,2017
18,tt4881806,19,Jurassic World: Fallen Kingdom,"$1,310,466,296","$417,719,760",31.9%,"$892,746,536",68.1%,2018,19,Jurassic World: Fallen Kingdom,"$1,310,466,296","$417,719,760",31.9%,"$892,746,536",68.1%,2018
19,tt2294629,20,Frozen,"$1,284,540,518","$400,953,009",31.2%,"$883,587,509",68.8%,2013,20,Frozen,"$1,284,540,518","$400,953,009",31.2%,"$883,587,509",68.8%,2013

In [44]:
# export datafram to csv files 
combined_df.to_csv ('combined_box_office.csv', index=False)